<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Andrew Finke</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
  <div id="spacer"></div>
  <div style="text-align: center">
    <div style="display: inline-block;">
      <a class="container" href="https://itunes.apple.com/us/app/wikiraces-3/id1030997904">
          <img class="icon" src="static/resources/icons/WikiIcon.png"/>
      </a>
      <a class="container" href="https://itunes.apple.com/us/app/heart-calendar/id1363866937">
        <img class="icon" src="static/resources/icons/HealthIcon.png"/>
      </a>
    </div>
  </div>
  <footer>
    <a class="footer-text" href="mailto:finke.help@gmail.com" onclick="trackOutboundLink('mailto:finke.help@gmail.com'); return false;">SUPPORT</a>
  </footer>
</body>

</html>
