<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Today at Andrew</title>
  <script src="{{ url_for('static',filename='scripts/today.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/today-header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/today-components.css') }}">
</head>

<body onload="start()">
    <div id="today-header">
        <div id="header-today-column">
            <div id="header-today-title" onclick="clearCache()">
                Today at <span id="today-title-a">A</span><span id="today-title-n">n</span><span
                    id="today-title-d">d</span><span id="today-title-r">r</span><span id="today-title-e">e</span><span
                    id="today-title-w">w</span>
            </div>
            <div id="header-today-date"></div>
        </div>
        <div id="header-now-playing-column">
            {% if header_now_playing_column_inner_html %}
            {{ header_now_playing_column_inner_html|safe }}
            {% else %}
            {% endif %}
        </div>
    </div>

   
    <div id="component-column-collection">
        <div class="component-column">


            {% if stocks_component_html %}
            {{ stocks_component_html|safe }}
            {% else %}
            {% endif %}

            {% if life_component_html %}
            {{ life_component_html|safe }}
            {% else %}
            {% endif %}
            
            

            
        </div>

        <div class="component-column">
            
      
            

            {% if lastfm_component_html %}
            {{ lastfm_component_html|safe }}
            {% else %}
            {% endif %}

            {% if l4a_component_html %}
            {{ l4a_component_html|safe }}
            {% else %}
            {% endif %}
        </div>

        <div class="component-column">
            <!-- <div class="component-container">
                <div id="countdown-XYZ" class="container-single-row color-countdown">
                    <div class="color-countdown-digit color-countdown-days"></div>
                    <div class="color-countdown-digit color-countdown-hours"></div>
                    <div class="color-countdown-digit color-countdown-min"></div>
                    <div class="color-countdown-digit color-countdown-sec"></div>
                </div>
            </div> -->

            {% if weather_component_html %}
            {{ weather_component_html|safe }}
            {% else %}
            {% endif %}

            {% if monitor_component_html %}
            {{ monitor_component_html|safe }}
            {% else %}
            {% endif %}

            {% if theme_park_component_html %}
            {{ theme_park_component_html|safe }}
            {% else %}
            {% endif %}

            
            
            {% if spotify_add_to_playlist_html %}
            {{ spotify_add_to_playlist_html|safe }}
            {% else %}
            {% endif %}
        </div>
    </div>
</body>

</html>